{% extends "base.html" %}
{% block content %}
<body style="text-align: center;" onload="javascript:onload()">
  <h3>CALORIE : {{txt}}</h3>
  <hr width="100%" color="black"/>
  {% if True %}
  <img src="{{ url_for('static',filename='images/'+bf_image) }}", width="300")/>
  <img src="{{ url_for('static',filename='images/'+a_image) }}", width="300")/>
  {% endif %}
  <script language="javascript">
    function onload(){
      setTimeout('go_home()', 5000)
    }
    function go_home(){
      location.href="/"
    }
  </script>
</body>
{% endblock %}